.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
    gap: 5rem;
}

.about__illustrations {
    width: fit-content;
}

.illustration {
    margin-top: 10rem;
    width: 100%;
    height: max-content;
}

.about__prj__topic {
    display: flex;
    flex-direction: column;
}

.about__topic__title {
    text-align: center;
}

.about__topic__title_txt {
    font-size: 22pt;
}

.about__topic__des_txt {
    margin: 35px 0;
    text-align: justify;
    line-height: 1.6rem;
    color: var(--color-purple);
    font-weight: 500;
}

.about__prj__btns {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}


.about__prj__btns svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

