.about {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
}

.about__illustrations {
    width: fit-content;
}

.illustration {
    margin-top: 10rem;
    width: 100%;
    height: max-content;
}

.about__prj {
    width: 100%;
}

.about__prj__topic {
    display: flex;
    flex-direction: column;
}

.about__topic__title {
    text-align: center;
}

.about__topic__title_txt {
    font-size: 22pt;
}

.about__topic__des_txt {
    margin: 35px 0;
    text-align: justify;
    line-height: 1.6rem;
    color: var(--color-purple);
    font-weight: 500;
}

.about__prj__btns {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 0;
}


.about__prj__btns svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

/* Responsive - About - Mobile */
@media screen and (max-width: 768px) {
    .about {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
    }

    .about__topic__title {
        margin: 10px 0;
    }

    .about__prj__btns {
        width: 100%;
    }

    .about__topic__des_txt {
        font-size: 10.5pt;
        letter-spacing: 0.2px;
        margin: 20px 0;
        line-height: normal;
    } 

    .about__prj__btns {
        flex-direction: column;
        gap: 25px;
    }

    .about__prj_btn {
        width: 100%;
    }
    
    .illustration {
        display: none;
    }
}


/* Responsive - About - Tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .about {        
        margin: 100px 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0;
    }

    .about__topic__des_txt {
        margin: 50px 0;
        line-height: 1.8rem;
    }

    .about__prj__btns {
        flex-direction: column;
        gap: 25px;
    }

    .about__prj_btn {
        width: 100%;
        height: 3rem;
    }

    .illustration {
        display: none;
    }
}