.navbar__menu-button {
    width: 2rem;
    height: fit-content;
    display: none;
    flex-direction: column;
    gap: 3px;
    background-color: transparent;
    position: relative;
}

.navbar__menu-button>div {
    width: 100%;
    border-radius: 10px;
    height: 3px;
    background-color: var(--color-purple);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar__menu-button.active>div:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.navbar__menu-button.active>div:nth-child(2) {
    opacity: 0;
}

.navbar__menu-button.active>div:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .navbar__menu-button {
        display: flex;
    }
}