@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  --color-purple: #6C63FF;
  --color-black: #30303F;
}

a {
  font-weight: 500;
  color: #6C63FF;
  text-decoration: inherit;
}

a:hover {
  color: #6C63FF;
}

body {
  background-color: white;
}

ul {
  list-style: none;
}

p {
  line-height: 1.4rem;
}

button, input {
  all: inherit;
}